{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Dynamic Preventative Maintenance</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'assets/images/DPM_LOGO.jpg' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <body>
        <app-root>Loading...</app-root>
        <script type="text/javascript" src="{% static 'main.js'%}"></script>
        <script type="text/javascript" src="{% static 'polyfills.js'%}"></script>
        <script type="text/javascript" src="{% static 'runtime.js'%}"></script>
        <script type="text/javascript" src="{% static '4.js'%}"></script>

    </body>

</html>
