{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Dynamic Preventative Maintenance</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
<!--    <link rel="stylesheet" href="{% static 'dist/DPMAngular/styles.js' %}">-->

    <body>
        <app-root>Loading...</app-root>
        <script type="text/javascript" src="{% static 'dist/DPMAngular/app-MainApp-main-app-module.js'%}"></script>
        <script type="text/javascript" src="{% static 'dist/DPMAngular/ app-MainApp-main-app-module.js.map'%}"></script>
        <script type="text/javascript" src="{% static 'dist/DPMAngular/vendor.js' %}"></script>
        <script type="text/javascript" src="{% static 'dist/DPMAngular/vendor.js.map' %}"></script>
        <script type="text/javascript" src="{% static 'dist/DPMAngular/styles.js' %}"></script>
        <script type="text/javascript" src="{% static 'dist/DPMAngular/styles.js.map' %}"></script>
        <script type="text/javascript" src="{% static 'dist/DPMAngular/runtime.js' %}"></script>
        <script type="text/javascript" src="{% static 'dist/DPMAngular/runtime.js.map' %}"></script>
        <script type="text/javascript" src="{% static 'dist/DPMAngular/polyfills.js' %}"></script>
        <script type="text/javascript" src="{% static 'dist/DPMAngular/polyfills.js.map' %}"></script>
        <script type="text/javascript" src="{% static 'dist/DPMAngular/main.js'  %}"></script>
        <script type="text/javascript" src="{% static 'dist/DPMAngular/main.js.map'  %}"></script>
    </body>

</html>